@{
    ViewBag.Title = "About";
}

<h2>Something about me </h2>
<h4> This pages displays my biography and image</h4>

<br />
<br />


    <div class="container-fluid">
        <div class="row" style="border: 1px solid #ddd; background-color: #DCDCDC; padding-bottom: 40px;">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h2>Bio</h2>
                <p> Hi there! I am Andile Mabaso. I am in second year BCom informatics information systems. I stay in Clubview in Centuruion and I am the first born to Nkosazana Mabaso and Bonga Mabaso.
                I was born in Port Elizabeth (now known as Gqeberha) in Eastern Cape, however I was raised in The Reeds in Centurion. I weny to Uitsig Primary School and attended high school 
                at Potchefstroom Girls High School. My hobbies are singing and drawing in my spare time. I take interest in tennis, netball and soccer for sports.
                </p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" >
                <h2>Andile Mabaso</h2>

                <img src="~/Content/pictures/IMG-20211009-WA0064.jpg" height="400" width="300" alt="my picture">
                <br />
            </div>
        </div>
    </div>